*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content:space-around;
    background-color: black;
    color: white;
    padding: 20px;
    align-items: center;
  
}
.geek-color{
    color: white;
    width: 120px;
}
.home{
    display: flex;
    }
.home-1{
    list-style: none;
    margin: 10px;
    font-size: 18px;
    padding-right: 20px;
    }
.home-1:hover{
    color: aqua;
    cursor: pointer;
}

/* main part start now */

/* section-1 */
.baba-maa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 100vh;
    background-image: url("../images/background.png"),45deg, #440606 #281919 ;
}

.image-1{
    width: 250px;
}
.paragraph{
    font-size: 35px;
    font-weight: bold;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}

/* section-2 */
.boro-bap{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.about{
    text-align: center;
    padding-top: 20px;
}
.baccha2{
    padding: 10px;
    justify-content: space-between;
}

/* section-3 */
.box{
    background-color: black;
    color: white;
    width: 200px;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    padding: 15px;
    text-align: center;
}
.icon{
    width: 70px;
}
.box-h{
    padding: 15px;
}
.description{
    padding: 10px;
}
.new{
 background-color: gray;
 margin-top: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url(../images/background.png),linear-gradient(45deg,rgb(5,5,5),#2e2e2e);
}